<div class="form-row">
	<div class="form-group col-lg-12">
		<h4 class="rowTitle">Process List</h4>
	</div>
	<div class="form-group col-md-4">
		<label for="plName">Process Name</label>
		<input type="text" class="form-control" id="plName" placeholder="Process Name">
	</div>
	<div class="form-group col-md-4">
		<label for="plProcess2Watch">Process to Watch</label>
		<input type="text" class="form-control" id="plProcess2Watch" placeholder="Process to Watch">
	</div>
	<div class="form-group col-md-4">
		<label for="plProcessManagerType">Process Manager Type</label>
		<select class="form-control" name="plProcessManagerType" id="plProcessManagerType">
			<option value="pm2">pm2</option>
		</select>
	</div>

	<!-- Notify on Restart -->
	<h5 class="col-lg-12">Notify on Restart:</h5>
	<div class="form-group col-md-3">
		<label for="plNotifyOnRestart">Enable</label>
		<select class="form-control" name="plNotifyOnRestart" id="plNotifyOnRestart">
			<option value="true">True</option>
			<option value="false">False</option>
		</select>
	</div>
	<div class="form-group col-md-3">
		<label for="plNORWhen2Notify">When to Notify</label>
		<select class="form-control" name="plNORWhen2Notify" id="plNORWhen2Notify">
			<option value="immediately">Immediately</option>
			<option value="daily">Daily</option>
			<option value="all">All</option>
		</select>
	</div>
	<div class="form-group col-md-3">
		<label for="plNORIncludeInDailyReport">Include In Daily Report</label>
		<select class="form-control" name="plNORIncludeInDailyReport" id="plNORIncludeInDailyReport">
			<option value="true">True</option>
			<option value="false">False</option>
		</select>
	</div>
	<div class="form-group col-md-3">
		<label for="plNORMaxMessagePerDay">Max Message Per Day</label>
		<input type="text" class="form-control" id="plNORMaxMessagePerDay" placeholder="Max Message Per Day">
	</div>

	<!-- Notify on Failure -->
	<h5 class="col-lg-12">Notify on Failure:</h5>
	<div class="form-group col-md-3">
		<label for="plNotifyOnFailure">Notify On Failure</label>
		<select class="form-control" name="plNotifyOnFailure" id="plNotifyOnFailure">
			<option value="true">True</option>
			<option value="false">False</option>
		</select>
	</div>
	<div class="form-group col-md-3">
		<label for="plNOFWhen2Notify">When to Notify</label>
		<select class="form-control" name="plNOFWhen2Notify" id="plNOFWhen2Notify">
			<option value="immediately">Immediately</option>
			<option value="daily">Daily</option>
			<option value="all">All</option>
		</select>
	</div>
	<div class="form-group col-md-3">
		<label for="plNOFIncludeInDailyReport">Include In Daily Report</label>
		<select class="form-control" name="plNOFIncludeInDailyReport" id="plNOFIncludeInDailyReport">
			<option value="true">True</option>
			<option value="false">False</option>
		</select>
	</div>
	<div class="form-group col-md-3">
		<label for="plNOFMaxMessagePerDay">Max Message Per Day</label>
		<input type="text" class="form-control" id="plNOFMaxMessagePerDay" placeholder="Max Message Per Day">
	</div>

	<!-- Log Watch List -->
	<h5 class="col-lg-12">Log Watch List</h5>
	<div class="form-group col-md-6">
			<label for="plLWLWhen2Notify">When to Notify</label>
			<select class="form-control" name="plLWLWhen2Notify" id="plLWLWhen2Notify">
				<option value="immediately">Immediately</option>
				<option value="daily">Daily</option>
				<option value="all">All</option>
			</select>
		</div>
	<div class="form-group col-md-6">
		<label for="plLWLtext2Watch">Text to Watch</label>
		<input type="text" class="form-control" id="plLWLtext2Watch" placeholder="Text to Watch Ex: Critical Error">
	</div>
	<div class="form-group col-md-3">
		<label for="plLWLLineCount2RecordBefore">Line Count to Record Before</label>
		<input type="text" class="form-control" id="plLWLLineCount2RecordBefore"
			placeholder="Line Count to Record Before">
	</div>
	<div class="form-group col-md-3">
		<label for="plLWLLineCount2RecordAfter">Line Count to Record After</label>
		<input type="text" class="form-control" id="plLWLLineCount2RecordAfter"
			placeholder="Line Count to Record After">
	</div>
	
	<div class="form-group col-md-3">
		<label for="plLWLMaxMessagePerDay">Max Message Per Day</label>
		<input type="text" class="form-control" id="plLWLMaxMessagePerDay" placeholder="Max Message Per Day">
	</div>
	<div class="form-group col-md-3">
		<label for="plLWLIncludeInDailyReport">Include in Daily Report</label>
		<input type="text" class="form-control" id="plLWLIncludeInDailyReport" placeholder="Include in Daily Report">
	</div>

	<!-- Mail Options -->
	<h5 class="col-lg-12">Mail Options</h5>
	<div class="form-group col-md-6">
		<label for="plMoMessagePrefix">Message Prefix</label>
		<input type="text" class="form-control" id="plMoMessagePrefix" placeholder="Message Prefix">
	</div>
	<div class="form-group col-md-6">
		<label for="plMoSubject">Subject</label>
		<input type="text" class="form-control" id="plMoSubject" placeholder="Subject">
	</div>
</div>