<div class="container">
	<div class="row">
		<h2 class="title">Generate Config</h2>
		<form class="col-lg-12">
			<div class="form-row">
				<div class="form-group col-lg-12">
					<h4 class="rowTitle">Web Options</h4>
				</div>
				<div class="form-group col-md-5">
					<label for="woUsername">Username</label>
					<input type="text" class="form-control" id="woUsername" placeholder="Username">
				</div>
				<div class="form-group col-md-5">
					<label for="woPassword">Password</label>
					<input type="text" class="form-control" id="woPassword" placeholder="Password">
				</div>
				<div class="form-group col-md-2">
					<label for="woPort">Port</label>
					<input type="text" class="form-control" id="woPort" placeholder="Port">
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-lg-12">
					<h4 class="rowTitle">Database Options</h4>
				</div>
				<div class="form-group col-md-5">
					<label for="dbType">Type</label>
					<select class="form-control" name="dbType" id="dbType">
						<option value="mysql">MySQL</option>
						<option value="mongodb">MongoDB</option>
					</select>
				</div>
				<div class="form-group col-md-5">
					<label for="dbHost">Host</label>
					<input type="text" class="form-control" id="dbHost" placeholder="Host">
				</div>
				<div class="form-group col-md-2">
					<label for="dbPort">Port</label>
					<input type="text" class="form-control" id="dbPort" placeholder="Port">
				</div>

				<div class="form-group col-md-6">
					<label for="dbUsername">Username</label>
					<input type="text" class="form-control" id="dbUsername" placeholder="Username">
				</div>
				<div class="form-group col-md-6">
					<label for="dbPassword">Password</label>
					<input type="text" class="form-control" id="dbPassword" placeholder="Password">
				</div>

				<div class="form-group col-md-6">
					<label for="dbDatabase">Database</label>
					<input type="text" class="form-control" id="dbDatabase" placeholder="Database">
				</div>
				<div class="form-group col-md-6">
					<label for="dbLogging">Logging</label>
					<select class="form-control" name="dbLogging" id="dbLogging">
						<option value="true">True</option>
						<option value="false">False</option>
					</select>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-lg-12">
					<h4 class="rowTitle">Send Mail Options</h4>
				</div>
				<div class="form-group col-md-6">
					<label for="smHost">Host</label>
					<input type="text" class="form-control" id="smHost" placeholder="Host">
				</div>
				<div class="form-group col-md-3">
					<label for="smPort">Port</label>
					<input type="text" class="form-control" id="smPort" placeholder="Port">
				</div>
				<div class="form-group col-md-3">
					<label for="smSecure">Secure</label>
					<select class="form-control" name="smSecure" id="smSecure">
						<option value="true">True</option>
						<option value="false">False</option>
					</select>
				</div>

				<div class="form-group col-md-6">
					<label for="smUsername">Username</label>
					<input type="text" class="form-control" id="smUsername" placeholder="Username">
				</div>
				<div class="form-group col-md-6">
					<label for="smPassword">Password</label>
					<input type="text" class="form-control" id="smPassword" placeholder="Password">
				</div>

				<div class="form-group col-md-6">
					<label for="smFrom">From</label>
					<input type="text" class="form-control" id="smFrom" placeholder="From">
				</div>
				<div class="form-group col-md-6">
					<label for="smSendTo">Send To</label>
					<input type="text" class="form-control" id="smSendTo" placeholder="Send To">
				</div>

				<div class="form-group col-md-6">
					<label for="smSubject">Default Subject</label>
					<input type="text" class="form-control" id="smSubject" placeholder="Subject">
				</div>
				<div class="form-group col-md-6">
					<label for="smSendDailyReport">Send Daily Report</label>
					<select class="form-control" name="smSendDailyReport" id="smSendDailyReport">
						<option value="true">True</option>
						<option value="false">False</option>
					</select>
				</div>
			</div>

			<app-process-list></app-process-list>

			<!-- 
				<div class="form-group col-md-4">
					<label for=""></label>
					<input type="text" class="form-control" id="" placeholder="">
				</div>

			-->

			<div class="row" style="justify-content: flex-end;">
				<a class="btn btn-warning">Save</a>
				<a class="btn btn-secondary">Download</a>
				
			</div>
		</form>
	</div>
</div>

<p> <a href="data:{{downloadData}}" download="config.json">Download Config JSON File</a>
</p>

<textarea name="json" id="" cols="30" rows="10">

</textarea>