footer {
	width: 100%;
	display: flex;
	border-top: 1px solid #ccc;
	text-align: center;
	padding: 10px 0px;
	position: sticky !important;
	bottom: 0;
	background-color: #f8f8f8;
	margin-top: 40px;
}

.footerText {
	padding: 0;
	margin: 0;
}